<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Security Basic</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/custom.css}" rel="stylesheet">
</head>
<body>
    등록 성공!

    <script th:src="@{/js/bootstrap-531/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/axios-1_5_0/axios.js}"></script>
    <script th:src="@{/js/vue/unpkg.com_vue_3.3.4_dist_vue.global.js}"></script>
</body>
</html>
