<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
    <main id="app" class="container">
        Hello world! <span sec:authentication="name"></span>
        <br>
        <div sec:authorize="isAuthenticated()">
            <span sec:authentication="name"></span>
            <br>
            <span sec:authentication="principal"></span>
            <br>
            <span sec:authentication="authorities"></span>
        </div>
    </main>
</th:block>
</html>
